/* header Section Styles */
/* header {
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 40px 200px 80px 0px;
}

.header-title-1 {
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}
.header-title-2 {
    color: #fff;
    font-size: 50px;
    font-weight: 900; 
    width: 350px;
    align-items: center;
} */

/* body Section Styles */
/* Section-1 */

.discount{
    color: #f00;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}
.text-1{
    text-align: center;
    color: #f00;
    font-size: 20px;
    font-weight: 500;
}
.text-2{
    text-align: center;
    color: #070211;
    font-size: 40px;
    font-weight: 700;
}
.happy-picture{
    width: 830px;
    height: 500px;
    padding:0px 399px 0px 300px;
}

/* Section-2 */

.section-2{
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    display: flex;
}
.text-3{
    color: #fff;
    width: 600px;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 7px;
    padding: 50px 120px 0px 200px;
}
.text-4{
    color: rgb(252, 248, 248);
    width: 600px;
    font-size: 25px;
    font-weight: 400;
    padding: 0px 40px 0px 200px;
   
}
.button{
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    padding: 0px 0px 0px 200px;
}
.picture{
    padding-top: 50px;
    justify-content: center;
    width: 320px;
    height: 465px;
}

/* Section-3 Styles */

.section-3{
   background-color:rgb(245, 223, 239);
   width: 1320px;
   height: 400px;
   /* padding: 100px 385px 214px 385px ; */
   text-align: center;
   padding-top: 50px;
}
.red{
    color: #f00;
}
.text-5{
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}
.red-button{
    background-color: #f00;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    gap :10px;
    padding: 10px 30px;

}